<ngx-spinner bdOpacity=0.9 bdColor="#333" size="large" color="#2ecc71" type="ball-atom" [fullScreen]="true">
</ngx-spinner>
<!-- Start #nav -->
<nav id="nav-wrap" class="" style="display: block;">
    <!-- <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
  <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a> -->
    <ul id="nav" class="nav">
        <li [ngClass]="{'current': home}">
            <a href="/" class="smoothscroll">Home</a>
        </li>
        <li [ngClass]="{'current': about}">
            <a href="/about" class="smoothscroll">About</a>
        </li>
        <li [ngClass]="{'current': tech}">
            <a href="/tech" class="smoothscroll">Technology</a>
        </li>
        <li [ngClass]="{'current': service}">
            <a href="/service" class="smoothscroll">Works</a>
        </li>
        <li [ngClass]="{'current': blog}">
            <a href="/blog" class="smoothscroll">Blog</a>
        </li>
        <li [ngClass]="{'current': contact}">
            <a href="/contact" class="smoothscroll">Contact</a>
        </li>
    </ul>
</nav>
<!-- End #nav -->
<main>
    <!-- Intro Section -->
    <section id="intro">
        <div class="main-div">
            <div class="intro-name">
                <div class="intro-name-text">
                    <img alt="">
                    <h1>
                        I'm Rahul Kumar.
                    </h1>
                    <h3>
                        I'm a <strong>New Delhi</strong> based <strong>Software Developer</strong> creating
                        awesome and effective applications for companies of all sizes around the globe.
                        Let's chat and learn more about me.
                        <br>
                        Ping me here
                        <span>
                            <a href="mailto:dr.rahulk95@gmail.com">dr.rahulk95@gmail.com</a>
                        </span>
                    </h3>
                    <hr>
                    <ul class="social">
                        <li><a target="_blank" href="https://www.facebook.com/dr.rk47"><i
                                    class="fa fa-facebook"></i></a>
                        </li>
                        <li><a target="_blank" href="https://www.linkedin.com/in/dr-rahulk95"><i
                                    class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a target="_blank" href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fa fa-skype"></i></a></li>
                        <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <!-- Intro to the about me section -->
        <div class="intro-about-us">
            <span class="headding">
                <h2>About Me</h2>
            </span>
            <span class="body">
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                    est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius
                    modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
                    veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
                </p>
            </span>
        </div>
        <!-- Other important data -->
        <div class="grid-container">
            <div class="margin-left"></div>
            <div class="margin-right"></div>
            <div class="education">
                <strong>Education</strong>
            </div>
            <div class="work">
                <strong>Work</strong>
            </div>
            <div class="skills">
                <strong>Skills</strong>
            </div>
            <div class="education-details">
                <div class="university">
                    <h3>Bachelor's Degree</h3>
                    <span>(Computer Science and Engineering)
                        <i class="material-icons">
                            fiber_manual_record
                        </i>
                        June 2018</span>
                    <p>
                        I have completed my bachelor's degree in Computer Science and Engineering, from <a
                            href="http://sliet.ac.in/"><strong>Sant Longowal Institute of Engineering and Technology
                                (SLIET)</strong></a>, situated in Punjab in the year 2018.
                    </p>
                </div>
                <div class="diploma">
                    <h3>Diploma's Degree</h3>
                    <span>(Electronics and Communication Engineering)
                        <i class="material-icons">
                            fiber_manual_record
                        </i>
                        June 2015</span>
                    <p>
                        I have completed my diploma's degree in Electronics and Communication Engineering, from <a
                            href="http://sliet.ac.in/"><strong>Sant Longowal Institute of Engineering and Technology
                                (SLIET)</strong></a>, situated in Punjab in the year 2015.
                    </p>
                </div>
                <div class="school">
                    <h3>Schooling</h3>
                    <span>Computer Scieence Stream
                        <i class="material-icons">
                            fiber_manual_record
                        </i>
                        April 2013</span>
                    <p>
                        I have completed my schooling in Computer Science stream, from <a
                            href="http://www.kvmankhurd.org/"><strong>Kendriya Vidyalaya Mankhurd</strong></a>, situated
                        in Mumbai in the year 2015.
                    </p>
                </div>
                <hr style="background-color: chartreuse; size: 200%; width: 110%; margin-left: -32%;">
            </div>
            <div class="work-details">
                <div class="nethues">
                    <h3>Nethues Technologies (P) Ltd.</h3>
                    <span>Software Developer
                        <i class="material-icons">
                            fiber_manual_record
                        </i>
                        September 2018</span>
                    <p>
                        I have been working as a <strong>Software Developer</strong> at <a
                            href="https://www.nethues.com/"><strong>Nethues Technologies (P) Ltd.</strong></a>, in
                        Rohini sector-3, New Delhi since September 2018.
                    </p>
                    <div class="list">
                        Here at Nethues i have worked on technologies like,
                        <ul>
                            <li>Meanstack</li>
                            <li>C#</li>
                            <li>Python</li>
                        </ul>
                        I have worked on many great projects here, listed as below.
                        <ul>
                            <li><a href="http://qunote.newsoftdemo.info:8043">Qunote 3.0</a> (The case notes system) <br>
                                Qunote is a secure case management and clincial records system designed around the needs of those working in the case management, therapy and rehabilitation industries. The system streamlines day-to-day tasks such as the entry and storage of clinical notes, timesheets, expenses and invoicing.
                            </li>
                            <li>...</li>
                            <li>...</li>
                        </ul>
                    </div>
                </div>
                <hr style="background-color: chartreuse; size: 200%; width: 110%; margin-left: -32%;">
            </div>
            <div class="skill-details">
                <div class="skill-description"></div>
                <div class="skill1"></div>
                <div class="skill2"></div>
                <div class="skill3"></div>
                <hr style="background-color: chartreuse; size: 200%; width: 110%; margin-left: -32%;">
            </div>
        </div>
    </section>

</main>
<footer>
    <div class="">
        <div class="twelve columns">
            <ul class="social-links">
                <li><a target="_blank" href="https://www.facebook.com/dr.rk47"><i class="fa fa-facebook"></i></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/dr-rahulk95"><i class="fa fa-linkedin"></i></a>
                </li>
                <li><a target="_blank" href=""><i class="fa fa-instagram"></i></a></li>
                <li><a target="_blank" href="#"><i class="fa fa-skype"></i></a></li>
                <!-- <li><a target="_blank" href="#"><i class="fa fa-dribbble"></i></a></li> -->
                <!-- <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li> -->
            </ul>
            <ul class="copyright">
                <li>© Copyright 2019 HevenTech</li>
                <li>Design by <a title="HevenTech" target="_blank" href="#">HevenTech Pvt. Ltd.</a></li>
            </ul>
        </div>
        <div id="go-top"><a class="smoothscroll" title="Back to Top" (click)="gotoTop()">
                <i class="fa fa-chevron-circle-up" aria-hidden="true"></i> </a>
        </div>
    </div>
</footer>