/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
    min-width: 100vh;
}
body {
    font: 400 14px/150% Roboto,Helvetica,Arial,sans-serif;
    color: #282f39;
    background: #fff;
    margin: 0 auto;
    padding: 0;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
}

